# local env
**/venv
/node_modules
.env*
*.log*
# python cache
**/__pycache__
**/*.pyc

# django dev db
*.sqlite3
*.db

# user config
/.vscode
**/.python-version
/.husky
**/credentials.json
commands.md
