# local env
**/venv
/node_modules
.env*
*.log*
.DS_Store

# python cache
**/__pycache__
**/*.pyc

# django dev db
*.sqlite3
*.db
*.rdb

# user config
/.vscode
**/.python-version
/.husky
**/credentials.json
commands.md

# output file
*.docx
*.pdf
*volunteer_hours*.txt
**volunteer_report*.txt
